body{
	/*display:none;*/
	background-image: url('bckgrnd.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
}
.diva{
	width:940px;
	/*margin-top:30px;*/
	margin:0 auto;
}

.portfolio{
	background-image: url('portfolio22.jpg');
/*	max-width: 100%*/
	background-size: cover;
	background-repeat: no-repeat;
	margin:0 auto;
	/*background-color:#EDEDED;*/
	color:black;
	height: 250px;
	text-align: center;
	margin-bottom: 30px;
	border-radius:10px;

}
.port{
	
	padding-top: 50px;
}
.info{
	background-color: #E6E6E6;
	overflow:auto;
	margin-bottom: 25px;
	border-radius:15px;
}
.image1{
	width:300px;
    margin: 5px;
}
.chara{
	width:620px;
	float:left;
	margin: 5px;
}
.image2{
	max-width: 100%;
	float:left;
}
.otherinfo{
	background-color:transparent;	
	overflow: auto;
	margin-bottom: 20px;
	border-radius:15px;
}
.xp{
	background-color: #DCDCDC;
	width: 455px;
	height: 300px;
	float: left;
	text-align: center;
	margin-right: 30px;
}
.sk{
	background-color: #DCDCDC;
	width: 455px;
	height: 300px;
	float: left;
	text-align: center;
}
.contacts{
	background-image: url('contacts1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color:51515;
	height: 150px;
	text-align: center;
	margin-bottom: 15px;
	padding-top: 50px;
}
.darkgreyshadow{
	background-color: rgba(100, 100, 100, 0.4);
	border-radius: 15px;
	padding:20px;
}
.foot{
	background-color: #D5D5D5;
	color:51515;
	height: 30px;
	text-align: center;
	border-radius:5px;
	margin-top: 70px;
	
}
.connection{
	background-color: #DCDCDC;
	float: left;
	padding-left: 200px;
	border-radius:15px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;

}
.networks{
	background-color: #DCDCDC;
	float: center;	
	margin-top: 40px;
	border-radius:15px;	
	text-align: center;
	padding-top: 5px;
    height: 200px;
}
.greyshadow{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	padding: 20px;
}
.lang{
	position:absolute;
	right:45px;
	background-color: #EFEFEF;
	padding:20px;
	border-radius:15px;
}
